<%
    if(data && data.length) {
        data.forEach(function(item, index) {
%>
<div class="form-group">
    <label for="<%=item.alias%>" class="col-sm-2 control-label"><%=item.name%></label>
    <%
        switch(item.type) {
            case 'select':
    %>
                <div class="col-sm-2">
                    <%
                        if(item.multi) {
                    %>
                            <select multiple id="<%=item.alias%>" name="<%=item.alias%>" class="form-control">
                    <%
                        } else {
                    %>
                            <select id="<%=item.alias%>" name="<%=item.alias%>" class="form-control">
                    <%    
                        }
                    %>
                    
                        <%
                            item.data.forEach(function(every, index) {
                        %>
                                <option value="<%=every.val%>"><%=every.name%></option>
                        <%
                            })
                        %>
                    </select>
                </div>
    
    <%
            break;
            case 'string':
    %>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="<%=item.alias%>" name="<%=item.alias%>" placeholder="<%=item.desc%>">
                </div>
    <%
            break;
            case 'integer': case 'float':
    %>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="<%=item.alias%>" name="<%=item.alias%>" placeholder="<%=item.desc%>">
                </div>
    <%
            break;
            case 'file':
    %>
                <div class="col-sm-7">
                    <input type="file" class="form-control" id="<%=item.alias%>_1" name="<%=item.alias%>_1" placeholder="<%=item.desc%>">
                </div>
    <%
            break;
            default:
            break;
        }
    %>
</div>
<%
            if(item.type == 'file' && item.multi) {
%>
                <div class="inner-btn-group form-group">
                    <div class="col-sm-offset-2 col-sm-7 text-left">
                      <button type="button" class="btn btn-primary btn-plus"><span class="glyphicon glyphicon-plus"></span>增加</button>
                      <button type="button" class="btn btn-danger" disabled="disabled"><span class="glyphicon glyphicon-minus"></span>删除</button>
                    </div>
                  </div>
<%
            }
        })
    }
%>