  <!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <title>微信小店</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="" /> 
        <meta name="description" content="" /> 
        <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/style/admin/main.css">
        <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script type="text/javascript">
            var navIndex=1;
        </script>
        <script src="/javascript/admin/nav.js" type="text/javascript"></script>
        <script src="/javascript/admin/tools.js" type="text/javascript"></script>
        <script src="/javascript/ejs.js" type="text/javascript"></script>
        <style type="text/css">
            .cur-pos-div {
              display: inline-block;
              position: relative;
            }
            .cur-pos-img {
              margin-bottom: 5px;
              width: 87px;
              height: 87px;
              padding:10px;
              border: 2px solid #18bc9c
            }
            .cur-pos-remove{
              position: absolute;
              right: 2px;
              top: 1px;
            }
            .cur-pos-div a {
              text-decoration:none;
              font-size: 14px;
              font-weight: 700;
              color: #000;
              text-shadow: 0 1px 0 #fff;
              font-family: inherit;
              opacity: .5;
            }
            .model-button-group {
              display: inline-block;
              position: absolute;
              right: 10px;
              top:8px;
            }
            .sel-left {
              width:50%;
              display:inline-block;
              max-width:200px;
              margin:auto;
              vertical-align: bottom;
            }
            .thumbnail {
              display: inline-block;
              margin-left: 10px;
            }
            .thumbnail img {
              max-height: 180px;
            }
        </style>
        <script type="text/javascript">
            $(function() {
                var data;
                $('.btn-close').bind('click', function() {
                    $(this).parent().parent().parent().find('span').eq(0).trigger('click');
                });
                $('#btn-del').bind('click', function() {
                    if(data.length) {
                        $.get('/admin/item/removePositions/?position=1&shop_id=<%=data.shop.id%>&items=' + data, function(result) {
                          if(result) {
                            $.each($('.caption a'), function(index, item) {
                                if($(item).attr('data') == data) {
                                    $(this).parent().parent().parent().fadeOut(1000);
                                    $('#btn-del').parent().parent().parent().find('span').eq(0).trigger('click');
                                }
                            })
                          }
                        })
                        
                    }
                });



                $('body').on('click','.caption a', function() {
                    data = $(this).attr('data');
                })
                $('#ava_items').change(function() {
                    var val = $(this).val();
                    if(val.length >= 0 && val != '-1') {
                        $.getJSON('/admin/ajax/item/' + val + "/", function(result) {
                            if(result.result) {
                              var html = new EJS({url:'/inc/admin/edit_position_index_loaditem.ejs'}).render({data:result.data, img_path:'<%=settings.img_path%>', hasDel:false});
                              if($('.shop-add-form>.form-group').length == 3) {
                                  $('.shop-add-form>.form-group').eq(0).after(html);
                              } else if($('.shop-add-form>.form-group').length > 3){
                                  $('.shop-add-form>.form-group').eq(1).remove();
                                  $('.shop-add-form>.form-group').eq(0).after(html);
                              }
                            }
                        })
                    }
                })
                $('#btn-add').click(function() {
                    var val = $('#ava_items').val();
                    if(val.length >= 0 && val != '-1') {
                        $.post('/admin/ajax/item/add/' + val + '/', {shop_id:<%=data.shop.id%>, index : 1}, function(result) {
                            if(result && result.result) {
                                var html = new EJS({url:'/inc/admin/edit_position_index_loaditem.ejs'}).render({data:result.data.current, img_path:'<%=settings.img_path%>', hasDel:true});
                                $('.thumbnail:last').after($(html).find('.thumbnail'));
                                $.each($('#ava_items').find('option'), function(index, item) {
                                    if($('#ava_items').val() == $(this).val()) {
                                        $(this).remove();
                                    }
                                });
                                $('.shop-add-form>.form-group').eq(1).fadeOut(500);
                                $('#ava_items').find('option').eq(0).attr('selected','selected');
                            } else {
                                alert(result.msg);
                            }
                        }, 'json')
                    }
                });



            })
        </script>
    </head>
    <body>

        <%- include common/header %>
        <div class="all-container container-fluid">
            <div class="row">
                <%- include common/user_status %>

                <div id="right-content" class="col-xs-7 col-sm-7 col-md-7 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                    <ol class="breadcrumb">
                      <li><a href="/admin/shop/">我的店铺</a></li>
                      <li class="active">首页位置推广</li>
                    </ol>
                    <div class="row">
                        <form class="shop-add-form form-horizontal" role="form" method="post" action="/admin/shop/<%=data.shop.id%>/editindexposition/" enctype="multipart/form-data">
                              <div class="form-group">
                                <label for="ava_items" class="col-sm-2 control-label">所有商品</label>
                                <div class="col-sm-6">
                                    <select id="ava_items" name="ava_items" class="form-control sel-left">
                                        <option value="-1" selected=selected>----</option>
                                        <%
                                            if(data.item && data.item.items && data.item.items.length) {
                                                data.item.items.forEach(function(item, index) {
                                        %>
                                                    <option value="<%=item.encrypt%>"><%=item.short_name%></option>
                                        <%
                                                })
                                              }
                                        %>
                                    </select>
                                    <button id="btn-add" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>添加</button>
                                </div>
                              </div>
                              

                              <div class="form-group">
                                <label class="col-sm-2 control-label">当前首页位置</label>
                                <div class="col-sm-7">
                                    <%
                                        if(data.item.current && data.item.current.length) {
                                            data.item.current.forEach(function(item, index) {
                                    %>
                                            
                                                <div class="thumbnail col-sm-3">
                                                  <img src="<%=settings.img_path%>/<%=item.pic_url%>" alt="<%=item.short_name%>">
                                                  <div class="caption">
                                                    <h4 class="text-center"><%=item.short_name%></h4>
                                                    <p class="text-right"><a href="#" class="btn btn-danger" role="button" data-toggle="modal" data-target=".bs-example-modal-sm" data="<%=item.encrypt%>">删除</a></p>
                                                  </div>
                                                </div>

                                    <%
                                              })
                                        }
                                    %>
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-7 text-right">
                                  <button type="button" class="btn btn-default btn-back"><span class="glyphicon glyphicon-arrow-left"></span>返回</button>
                                </div>
                              </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

      <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">

            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myLargeModalLabel">提示</h4>
              </div>
              <div class="modal-body">
                  <div style="max-width:56%">删除该宝贝后, 将不会在首页展示该宝贝</div>
                  <div class="model-button-group">
                    <button id="btn-del" type="button" class="btn btn-primary">确认</button>
                    <button type="button" class="btn btn-default btn-close">取消</button>
                  </div>
              </div>
          </div>
        </div>
      </div>

    </body>
</html>