<html>
    <head>
        <title>微信小店_<%=data.short_name%></title>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <meta name="keywords" content="微信小店" />
        <meta name="description" content="" />
    </head>
    <body>
        <%if(sign) {%>
            <h1><%=sign%></h1>
        <%}%>
        <h1>
        <h1><%=data.short_name%></h1>
        
        <a href="/admin/shop/<%=data.id%>/addarticle/">添加介绍</a>
        <a href="/admin/shop/<%=data.id%>/additem/">添加商品</a>
    </body>
</html>