
<header class="header clearfix">
 <div class="head_left fl"> 
  <a href="javascript:void(0)" class="J_backToPrev"><span class="h_empty"></span></a> 
 </div>
 <span class="headtit"><%=data.shop.short_name%></span> 
 <div class="head_right fr"> 
  <a href="/shop/<%=data.shop.id%>/"><span class="h_home"></span></a> 
 </div>
</header>
<header id="nav" class="navigation clearfix"> 
 <a href="/shop/<%=data.shop.id%>/"><span>首&nbsp;&nbsp;页</span></a>&nbsp;&gt;&nbsp;
 <a href="/shop/<%=data.shop.id%>/list/"><span>所有宝贝</span></a> &nbsp;&gt;&nbsp;
 <a href="/shop/<%=data.shop.id%>/introduce/"><span>店铺介绍</span></a>
</header>