<!DOCTYPE html>
<html lang="zh-CN">
 <head> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" /> 
  <meta content="yes" name="apple-mobile-web-app-capable" /> 
  <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
  <meta content="telephone=no" name="format-detection" /> 
  <title>GEO</title> 
  <meta name="keywords" content="" /> 
  <meta name="description" content="" /> 
  <link rel="stylesheet" href="http://ms2-m.vipstatic.com/css/a0892ec820.layout.min.css" /> 
  <link rel="stylesheet" href="http://ms2-m.vipstatic.com/css/86fe49ca90.common.min.css" /> 
 </head> 
 <body> 
  <script src="http://ms2-m.vipstatic.com/js/lib/562a4c0e89.jquery-2.1.0.min.js"></script> 
  <header id="header" class="header clearfix"> 
   <div class="head_left fl"> 
    <a href="javascript:void(0)" mars_sead="brand-detail-back_btn" class="J_backToPrev"><span class="h_back"></span></a> 
   </div> 
   <span class="headtit"><%=data.detail.short_name%></span> 
   <div class="head_right fr"> 
    <a href="index.html" mars_sead="nav_home_btn"><span class="h_home"></span></a> 
   </div> 
  </header> 
  <div class="container goods_detail_wrapper"> 
   <div id="goods_detail" class="aposition"> 
    <div id="goods_images" class="carousel"> 
     <ul data-cartimg="img">
      <%
        if(data.item.pics.length > 0) {
          for(var i = 0; i < data.item.pics.length; i++) {
      %>
          <li><span><img src="http://ms2-m.vipstatic.com/images/common/7c17123173.loading_goods.gif" data-original="/<%=data.item.pics[i].pic_url%>" alt="<%=data.detail.short_name%>" class="smallImg" mars_sead="product_big_pic" /></span></li> 
      <%
          }
        }
      %>
     </ul> 
    </div> 
    <div class="slideControl clearfix"> 
     <div id="pro_pagination">
      <em class="on"></em>
      <%
        for(var i = 1; i < data.item.pics.length; i++) {
      %>
          <em><%=i+1%></em>
      <%
        }
      %>
     </div> 
    </div> 
    <div class="goods_info"> 
     <form name="cartForm" action="" method=""> 
      <h1><%=data.detail.short_name%></h1> 
      <p class="new_pricediv clearfix"> <span class="g_d_price">&yen;1245</span> <span class="fontstyle prf05">&yen;2490</span> <span class="discount">5折</span> <span class="fr new_re_time bglight" data-saleproduct="true" data-saletime="381401"><span class="i-icon-clock"></span><span class="J-time">00天00时00分00秒</span></span> </p> 
      <p class="space5"></p> 
      <p class="clear"></p> 
      <!-- 海淘商品展示特定方案 --> 
      <p class="price pb5">服务：由唯品会发货 支持货到付款</p> 
      <div class="good_salesize clearfix"> 
       <p class="clearfix"> <span class="tit">尺码：</span> </p> 
       <ul class="good_sizechioce clearfix" data-mersale="true"> 
        <%
        if(data.detail.sizes.length > 0) {
          for(var i = 0; i < data.detail.sizes.length; i++) {
        %>
            <li class="choose" data-maxamount="" data-minamount=""><%=data.detail.sizes[i].description%></li> 
        <%
            }
          }
        %>
       </ul> 
       <a href="" class="link_ruler">查看尺码表 &gt;</a> 
      </div> 
      <%
          if(data.shop.promises.length > 0) {
      %>
          <ul class="introduce clearfix"> 
      <%
              for(var i = 0; i < data.shop.promises.length; i++) {
      %>
                  <li><span class="<%=data.shop.promises[i].pic_url%>"></span> <p><%=data.shop.promises[i].promise_name%></p> </li> 
      <%
              }
      %>
          </ul> 
      <%
          }
      %>
      <div class="dashline3"></div> 
      <!-- 专场品牌推荐 --> 
      <div class="recommend"> 
       <a href="brand-287261-0-0-0-1-0-1-20.html" mars_sead="brand-recommend_btn"> 
        <div class="picture"> 
         <img src="http://pic1.vip.com/upload/brand/201411/20141121225929948912_304x384_80.jpg" alt="" /> 
        </div> 
        <div class="content"> 
         <p class="name">GEOX精品专场</p> 
         <p class="discount"><span class="salebg2">4</span>折起</p> 
        </div> </a> 
      </div> 
      <!-- 正品保证 --> 
      <div class="p_detail_hd"> 
       <div class="Origin"> 
        <div class="Oringin_wrapper"> 
         <span></span>100%正品保证，太平洋保险承保 
        </div> 
       </div> 
      </div> 
      <div class="space20"></div> 
     </form> 
    </div> 
   </div> 
   <!-- 详情 --> 
   <div class="product_detail"> 
    <!-- data-GetDetail="more"--> 
    <div class="tab_content pro_detail_info"> 
     <div class="M_detail" style="width:1000px"> 
      <div class="M_detailCon"> 
       <p class="dc_tit" id="J_proParam_scroll">商品参数<i class="far">Detail</i></p> 
       <div class="dc_info clearfix"> 
        <table class="dc_table fst"> 
         <tbody> 
          <tr> 
           <td class="dc_table_tit">品牌名称：</td> 
           <td><%=data.detail.brand.brand_name%></td> 
          </tr> 
          <tr> 
           <td class="dc_table_tit">商品名称：</td> 
           <td><%=data.detail.short_name%></td> 
          </tr> 
          <tr> 
           <td class="dc_table_tit">产 地：</td> 
           <td><%=data.detail.come_from%></td> 
          </tr> 
          <tr> 
           <td class="dc_table_tit">材 质：</td> 
           <td><%=data.detail.material%></td> 
          </tr> 
          <tr> 
           <td class="dc_table_tit">备 注：</td> 
           <td><%=data.detail.note%></td> 
          </tr> 
          <tr> 
           <td class="dc_table_tit">货品编号：</td> 
           <td><%=data.detail.serial_number%></td> 
          </tr> 
         </tbody> 
        </table> 
       </div> 
        <%
          if(data.item.pics.length > 0) {
        %>
            <p class="dc_tit" id="J_proImg_scroll">商品图片<i class="far">Image</i></p> 
            <div class="dc_img"> 
            <div class="dc_img_con"> 
        <%
            for(var i = 0; i < data.item.pics.length; i++) {
        %>
            <img src="/<%=data.item.pics[i].pic_url%>" alt="<%=data.detail.short_name%>" width="320" /> 
        <%
            }
        %>
            </div>
        <%
          }
        %>

        <!--商户宣传图-->
        <div class="dc_img_detail"> 
         <p><img alt="" src="http://a.vimage1.com/upload/merchandise/273412/Geox-D44Y1B00022C1006-6.jpg" width="320" /></p> 
        </div> 

       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!--固定在页面底部浮动的购买按钮--> 
  <div class="navbar navbar-default navbar-fixed-bottom"> 
   <div class="container nav-current-box detail-box"> 
    <div class="navbar-header"> 
     <a href="cart.html?rbc=service"> <i class="num-cart hide"></i> <i class="i-icon-cart-black"></i> <i class="num-cunt" data-carttime="-1" data-ctime="true"></i> </a> 
    </div> 
    <div class="navbar-brand"> 
     <a class="btn btn-large btn-purple" data-shopcarthide="true" mars_sead="product_add_cart_btn" data_mars="prd_id:38199647" data-animate="true" data-addjump="1" data-addcart="true">加入购物车</a> 
    </div> 
   </div> 
  </div> 
  <!-- 以上为产品详细小图内容层--> 
  <%
        if(data.item.pics.length > 0) {
  %>
          <div class="modal hide" id="Photo-modal" data-moadl="photobox"> 
           <div class="modal-body"> 
            <a href="javascript:void(0)" class="closeBtn" data-dismiss="closeModal"><span>&times;</span></a> 
            <div class="modal-message"> 
             <div id="Photo-slide"> 
              <ul> 
  <%
          for(var i = 0; i < data.item.pics.length; i++) {
  %>
            <li><img src="http://ms2-m.vipstatic.com/images/common/7c17123173.loading_goods.gif" data-original="/<%=data.item.pics[i].pic_url%>" alt="<%=data.detail.short_name%>" class="Touch_mer_biglImg" /></li> 
  <%
          }
  %>
            </ul>
            <nav> 
             <ul id="Photo-pagination">
              <%
                for(var i = 0; i < data.item.pics.length; i++) {
              %>
                  <em id="sel<%=i + 1%>" class="on" mars_sead="product_big_pic"><%=i + 1%></em> 
              <%
                }
              %>
             </ul> 
            </nav> 
           </div> 
          </div> 
         </div> 
        </div> 
  <%
    }
  %>
  <!-- 以上为弹出大图层--> 
  <div class="space20"></div> 
  <!--以下是底部样式--> 
  <div class="footer clearfix"> 
   <div class="footnav clearfix"> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <a href="index.html" mars_sead="footer-index_btn">首页</a> 
    <a href="cart.html" mars_sead="footer-cart_btn">购物车</a> 
    <a href="service-download.html" mars_sead="footer-loading_btn">客户端</a> 
    <a href="" mars_sead="footer-mlogin_btn">登录</a> 
    <a href="user-register.html" mars_sead="footer-mregister_btn">注册</a> 
   </div> 
   <p class="copright">Copyright &copy; 2008-2014 m.vip.com，All Rights Reserved 粤ICP备08114786号</p> 
  </div> 
  <a href="#top" class="backtop" mars_sead="home_foot_top_btn"></a> 
  <script src="http://ms2-m.vipstatic.com/js/0dc090f04a.all.min.js"></script> 
  <script type="text/javascript">
var cartSource = '';
var isSoldout = parseInt('0'), isStockUpdate = true;
function saveProValue(){
    return {}
};
</script> 
  <script src="http://ms2-m.vipstatic.com/js/7fae035d74.swipe.min.js"></script> 
  <script src="http://ms2-m.vipstatic.com/js/touch/80f87b044d.page.item.index.min.js"></script> 
  <noscript> 
   <p><img src="http://tk.optaim.com/p?sid=zyz_283_1" width="0" height="0" border="0" alt="" /></p> 
  </noscript> 
  <!-- End ZYZ Code --> 
  <div class="space30"></div> 
  <div class="space30"></div> 
  <div class="space30"></div>  
 </body>
</html>