<!DOCTYPE html>
<html lang="zh-CN">
 <head> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" /> 
  <meta content="yes" name="apple-mobile-web-app-capable" /> 
  <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
  <meta content="telephone=no" name="format-detection" /> 
  <title>GEO</title> 
  <meta name="keywords" content="" /> 
  <meta name="description" content="" /> 
  <link rel="stylesheet" href="/style/item_detail.css" />
 </head> 
 <body> 
  <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
  <header id="header" class="header clearfix"> 
   <div class="head_left fl"> 
    <a href="javascript:void(0)" mars_sead="brand-detail-back_btn" class="J_backToPrev"><span class="h_back"></span></a> 
   </div> 
   <span class="headtit"><%=data.shop.short_name%></span> 
   <div class="head_right fr"> 
    <a href="/shop/<%=data.shop.id%>/" mars_sead="nav_home_btn"><span class="h_home"></span></a> 
   </div> 
  </header> 
  <div class="container goods_detail_wrapper"> 
   <div id="goods_detail" class="aposition"> 
    <div id="goods_images" class="carousel"> 
     <ul data-cartimg="img">
      <%
        if(data.item.pics.length > 0) {
          for(var i = 0; i < data.item.pics.length; i++) {
      %>
          <li><span><img src="/images/loading.gif" data-original="/<%=data.item.pics[i].pic_url%>" alt="<%=data.detail.short_name%>" class="smallImg" mars_sead="product_big_pic" /></span></li> 
      <%
          }
        }
      %>
     </ul> 
    </div> 
    <div class="slideControl clearfix"> 
     <div id="pro_pagination">
      <em class="on"></em>
      <%
        for(var i = 1; i < data.item.pics.length; i++) {
      %>
          <em><%=i+1%></em>
      <%
        }
      %>
     </div> 
    </div> 
    <div class="goods_info"> 
     <form name="cartForm" action="" method=""> 
      <h1><%=data.detail.short_name%></h1> 
      <p class="new_pricediv clearfix">
        <span class="g_d_price">&yen;<%=data.detail.price%></span>
        <%
          if(data.detail.raw_price > data.detail.price && data.detail.price > 0) {
            var rawPrice = (data.detail.price/data.detail.raw_price*10).toFixed(2);
            if(rawPrice % 1 == 0) {
                rawPrice = parseInt(rawPrice);
            }
        %>
              <span class="fontstyle prf05">&yen;<%=data.detail.raw_price%></span><span class="discount"><%=rawPrice%>折</span>
        <%
          }
        %>
        
      </p> 
      <!-- 海淘商品展示特定方案 --> 
      <p class="price pb5">服务：由唯品会发货 支持货到付款</p> 
      <div class="good_salesize clearfix"> 
       <p class="clearfix"> <span class="tit">尺码：</span> </p> 
       <ul class="good_sizechioce clearfix" data-mersale="true"> 
        <%
        if(data.detail.sizes.length > 0) {
          for(var i = 0; i < data.detail.sizes.length; i++) {
        %>
            <li class="choose" data-maxamount="" data-minamount=""><%=data.detail.sizes[i].description%></li> 
        <%
            }
          }
        %>
       </ul> 
       <a href="" class="link_ruler">查看尺码表 &gt;</a> 
      </div> 
      <%
          if(data.shop.promises.length > 0) {
      %>
          <ul class="introduce clearfix"> 
      <%
              for(var i = 0; i < data.shop.promises.length; i++) {
      %>
                  <li><span class="<%=data.shop.promises[i].pic_url%>"></span> <p><%=data.shop.promises[i].promise_name%></p> </li> 
      <%
              }
      %>
          </ul> 
      <%
          }
      %>
      <div class="dashline3"></div>
      <!-- 专场品牌推荐 --> 
      <%
          if(data.shop.logo != null) {
      %>
              <div class="recommend"> 
               <a href="/shop/<%=data.shop.id%>/list/" mars_sead="brand-recommend_btn"> 
                <div class="picture"> 
                 <img src="/<%=data.shop.logo%>" alt="" /> 
                </div> 
                <div class="content"> 
                 <p class="name"><%=data.shop.short_name%></p> 
                 <p class="discount">查看更多</p> 
                </div>
                 </a> 
              </div> 
      <%
          }
      %>

      <!-- 正品保证 --> 
      <div class="p_detail_hd"> 
       <div class="Origin"> 
        <div class="Oringin_wrapper"> 
         <span></span>100%正品保证，太平洋保险承保 
        </div> 
       </div> 
      </div> 
      <div class="space20"></div> 
     </form> 
    </div> 
   </div> 
   <!-- 详情 --> 
   <div class="product_detail"> 
    <!-- data-GetDetail="more"--> 
    <div class="tab_content pro_detail_info"> 
     <div class="M_detail" style="width:1000px"> 
      <div class="M_detailCon"> 
       <p class="dc_tit" id="J_proParam_scroll">商品参数<i class="far">Detail</i></p> 
       <%
          if(data.detail.attr && data.detail.attr.length > 0) {
       %>
              <div class="dc_info clearfix"> 
              <table class="dc_table fst"> 
               <tbody> 
       <%
              for(var i = 0; i < data.detail.attr.length; i++) {
        %>
                  <tr> 
                   <td class="dc_table_tit"><%=data.detail.attr[i].key%>：</td> 
                   <td><%=data.detail.attr[i].value%></td> 
                  </tr> 
        <%        
              }
        %>
                  </tbody> 
                </table> 
               </div>           
        <%
          }
        %>
        <%
          if(data.item.pics.length > 0) {
        %>
            <p class="dc_tit" id="J_proImg_scroll">商品图片<i class="far">Image</i></p> 
            <div class="dc_img"> 
            <div class="dc_img_con"> 
        <%
            for(var i = 0; i < data.item.pics.length; i++) {
        %>
            <img src="/<%=data.item.pics[i].pic_url%>" alt="<%=data.detail.short_name%>" width="320" /> 
        <%
            }
        %>
            </div>
        <%
          }
        %>

        <%
            if(data.shop.publicity_photo != null) {
        %>
                <!--商户宣传图-->
                <div class="dc_img_detail"> 
                 <p><a href="/shop/<%=data.shop.id%>/list/"><img alt="<%=data.shop.description%>" src="/<%=data.shop.publicity_photo%>" width="320" /></a></p> 
                </div> 
        <%
            }
        %>
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!--固定在页面底部浮动的购买按钮--> 
  <div class="navbar navbar-default navbar-fixed-bottom"> 
   <div class="container nav-current-box detail-box"> 
    <div class="navbar-brand"> 
     <a href="<%=data.detail.rel_link%>" class="btn btn-large btn-purple" data-animate="true" data-addjump="1" data-addcart="true">去购买</a> 
    </div> 
   </div> 
  </div> 
  <!-- 以上为产品详细小图内容层--> 
  <%
        if(data.item.pics.length > 0) {
  %>
          <div class="modal hide" id="Photo-modal" data-moadl="photobox"> 
           <div class="modal-body"> 
            <a href="javascript:void(0)" class="closeBtn" data-dismiss="closeModal"><span>&times;</span></a> 
            <div class="modal-message"> 
             <div id="Photo-slide"> 
              <ul> 
  <%
          for(var i = 0; i < data.item.pics.length; i++) {
  %>
            <li><img src="/images/loading.gif" data-original="/<%=data.item.pics[i].pic_url%>" alt="<%=data.detail.short_name%>" class="Touch_mer_biglImg" /></li> 
  <%
          }
  %>
            </ul>
            <nav> 
             <ul id="Photo-pagination">
              <%
                for(var i = 0; i < data.item.pics.length; i++) {
              %>
                  <em id="sel<%=i + 1%>" class="on" mars_sead="product_big_pic"><%=i + 1%></em> 
              <%
                }
              %>
             </ul> 
            </nav> 
           </div> 
          </div> 
         </div> 
        </div> 
  <%
    }
  %>
  <!-- 以上为弹出大图层--> 
  <div class="space20"></div> 
  <!--以下是底部样式--> 
  <div class="footer clearfix"> 
   <div class="footnav clearfix"> 
    <a href="/shop/<%=data.shop.id%>/">首页</a> 
    <a href="<%=data.shop.taobao_link%>">淘宝地址</a> 
    <a href="#">联系商家</a> 
    <a href="#">商家地址</a> 
   </div> 
   <p class="copright">Copyright &copy; 2008-2014 xxx.xxx.com，All Rights Reserved 京ICP备xxxxxxx号</p> 
  </div> 
  <a href="#top" class="backtop" mars_sead="home_foot_top_btn"></a> 
  <script src="/javascript/all.js"></script> 
  <script type="text/javascript">
var cartSource = '';
var isSoldout = parseInt('0'), isStockUpdate = true;
function saveProValue(){
    return {}
};
</script> 
  <script src="/javascript/swipe.js"></script> 
  <script src="/javascript/item_detail.js"></script> 
  <!-- End ZYZ Code --> 
  <div class="space30"></div> 
  <div class="space30"></div> 
  <div class="space30"></div>  
 </body>
</html>